body{
	background: url(https://www.wallpaperup.com/uploads/wallpapers/2012/09/09/13503/a84a8304568939a75db78a5ff14daee2-700.jpg);
	font-family: 'Luckiest Guy', cursive;
	color: white;
	
}
#gemRow{
	display: flex;
	justify-content: center;
}
.gemDiv{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 10px;
}